input.ng-invalid.ng-touched {
    border: 1px solid red;
    box-shadow: 0 0 10px red;
}
input.ng-valid {
    border: 1px solid skyblue;
}

body {
    background-color: #215599;
}

@media (min-width: 1100px) {
    
    /* do not group these rules */
    *::-webkit-input-placeholder {
        color: lightgray;
        font-size: 22px;
    }
    *:-moz-placeholder {
        /* FF 4-18 */
        color: lightgray;
        font-size: 22px;
    }
    *::-moz-placeholder {
        /* FF 19+ */
        color: lightgray;
        font-size: 22px;
    }
    *:-ms-input-placeholder {
        /* IE 10+ */
        color: lightgray;
        font-size: 22px;
    }
    
    .container {
        width: 50%;
        padding: 0px;
    }
    
    .form-title {
        text-align: center;
        font-size: 120px;
        color: #79a2d8;
        font-family: 'Montserrat', sans-serif;
    }
    
    .form-title span {
        color: white;
    }
    
    .form-content {
        background-color: white;
        margin-top: 35px;
        border-radius: 20px;
        font-size: 22px;
    }
    
    .header h1 {
        text-align: center;
        margin: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
        color: #254875;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 65px;
    }
    
    #name .form-fields {
        text-align: center;
        margin-top: 0px;
    }
    
    .normal-input {
        margin-bottom: 30px;
        width: 70%;
        background-color: #f5f5f5;
        border-radius: 5px;
        padding: 15px;
        border: 0px;
    }
    
    .contact {
        text-align: center;
        padding: 5px 0px;
        margin-top: 0px;
        background-color: #e3e3e3;
        border-radius: 0px 0px 10px 10px;
        border: 2px solid lightgray;
    }
    
    .contact h3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .contact h3 span {
        color: #215599;
        font-weight: bold;
    }
    
    .form-fields label {
        color: #6d6a6a;
        font-family: 'Open Sans', sans-serif;
    }
    
    .forward-button {
        text-align: center;
        padding-bottom: 15px;
    }
    
    .forward-button button {
        width: 70%;
        font-size: 22px;
        font-family: 'Open Sans', sans-serif;
    }
    
    #about-you .label-input {
        margin-bottom: 30px;
        width: 70%;
        margin-left: 15%;
    }
    
    #about-you .invalid-date {
        margin-left: 15px;
        color: red;
    }
    
    #about-you select {
        height: 60px;
    }
    
    .small-input {
        width: 30%;
        border-radius: 5px;
        border: 0px;
        background-color: #f5f5f5;
        padding: 15px;
    }
    
    input[type=radio] {
        margin-top: -1px;
        vertical-align: middle;
    }
    
    .radio-label {
        color: #6d6a6a;
        font-family: 'Open Sans', sans-serif;
        margin-left: 20px;
        margin-right: 10px;
    }
    
    #country-div input {
        width: 100%;
    }
    
    #contact .form-fields {
        width: 70%;
        margin-left: 15%;
    }
    
    #contact .form-fields input {
        width: 100%;
    }
    
    #results h1 {
        padding-top: 0px;
        padding-bottom: 30px;
    }
    
    #results .form-content {
        padding: 50px;
        font-family: 'Open Sans', sans-serif;
    }
    
    #results label {
        color: #adaaaa;
        width: 200px;
    }
}

@media (max-width: 1100px) {
    
    /* do not group these rules */
    *::-webkit-input-placeholder {
        color: lightgray;
        font-size: 30px;
    }
    *:-moz-placeholder {
        /* FF 4-18 */
        color: lightgray;
        font-size: 30px;
    }
    *::-moz-placeholder {
        /* FF 19+ */
        color: lightgray;
        font-size: 30px;
    }
    *:-ms-input-placeholder {
        /* IE 10+ */
        color: lightgray;
        font-size: 30px;
    }
    
    .container {
        width: 80%;
        padding: 0px;
    }
    
    .form-title {
        text-align: center;
        font-size: 100px;
        color: #79a2d8;
        font-family: 'Montserrat', sans-serif;
    }
    
    .form-title span {
        color: white;
    }
    
    .form-content {
        background-color: white;
        margin-top: 35px;
        border-radius: 20px;
        font-size: 22px;
    }
    
    .header h1 {
        text-align: center;
        margin: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
        color: #254875;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 80px;
    }
    
    #name .form-fields {
        text-align: center;
        margin-top: 0px;
    }
    
    .normal-input {
        margin-top: 20px;
        margin-bottom: 100px;
        width: 90%;
        background-color: #f5f5f5;
        border-radius: 5px;
        padding: 15px;
        border: 0px;
    }
    
    .contact {
        text-align: center;
        padding: 5px 0px;
        margin-top: 0px;
        background-color: #e3e3e3;
        border-radius: 0px 0px 10px 10px;
        border: 2px solid lightgray;
    }
    
    .contact h3 {
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 40px;
    }
    
    .contact h3 span {
        color: #215599;
        font-weight: bold;
    }
    
    .form-fields label {
        color: #6d6a6a;
        font-family: 'Open Sans', sans-serif;
        font-size: 50px;
    }
    
    .forward-button {
        text-align: center;
        padding-bottom: 15px;
    }
    
    .forward-button button {
        width: 40%;
        font-size: 35px;
        font-family: 'Open Sans', sans-serif;
    }
    
    #about-you .label-input {
        margin-bottom: 60px;
        width: 90%;
        margin-left: 5%;
    }
    
    #about-you .invalid-date {
        margin-left: 15px;
        color: red;
    }
    
    #about-you select {
        height: 60px;
    }
    
    .small-input {
        width: 30%;
        border-radius: 5px;
        border: 0px;
        background-color: #f5f5f5;
        padding: 15px;
    }
    
    input[type=radio] {
        margin-top: -1px;
        vertical-align: middle;
    }
    
    .radio-label {
        color: #6d6a6a;
        font-family: 'Open Sans', sans-serif;
        margin-left: 20px;
        margin-right: 10px;
        font-size: 30px;
    }
    
    #country-div input {
        width: 100%;
    }
    
    #contact .form-fields {
        width: 90%;
        margin-left: 5%;
    }
    
    #contact .form-fields input {
        width: 100%;
    }
    
    #results .form-content {
        font-size: 30px;
    }
    
    #results .form-content label {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 10px;
    }
    
    #results h1 {
        padding-top: 0px;
        padding-bottom: 30px;
    }
    
    #results .form-content {
        padding: 50px;
        font-family: 'Open Sans', sans-serif;
    }
    
    #results label {
        color: #adaaaa;
        width: 200px;
    }
}