<!-- Part 1 Name -->
<div id="name" class="form">
    <h1 class="form-title"><span>C</span>itizenship</h1>
    <div class="form-content">
        <div class="header">
            <h1>What is your name?</h1>
        </div>
        <div class="form-fields">
            <input type="text" placeholder="First Name" class="normal-input" ng-model="user.firstName" required><br>
            <input type="text" placeholder="Middle Name" class="normal-input" ng-model="user.middleName" required><br>
            <input type="text" placeholder="Last Name" class="normal-input" ng-model="user.lastName" required>
        </div>
        <div class="forward-button">
            <button class="btn btn-success" ng-click="nameDone()" ng-disabled="user.$invalid">Next ></button>
        </div>
        <div class="contact">
            <h3>Questions? <span><a target="_blank" href="https://www.fastvisa.us/">Contact US</a></span></h3>
        </div>
    </div>
</div>